body{
    background-image: linear-gradient(to bottom right,blue,cyan,violet,purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    width: 100%;
    display: table;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
ul li{
    display: inline-block;
    float: none;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
}
.container{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}
.profile{
    margin: 25px;
    padding: 15px;
    width: 800px;
    height: 600px;
    border: solid 1px black;
    display: flex;
    flex-wrap: row;
    justify-content: center;
}
.agents{
    border: solid 1px black;
    padding-top: 50px;
    width: 200px;
}
.Stats{
    border: solid 1px black;
    margin-right: 100px;
    width: 400px;
}
.p1{
    color: white;
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
}
.p2{
    color: white;
    font-family: cursive;
    font-size: x-large;
    
}
.img{
    width: 150px;
    height: 150px;
    border: solid 2px white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 25px;
}
.img:last-child{
    border: none;
}
.q{
    border: none;
}